.mainHabitDashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.HabitBox{
    margin: 10px;
    background-color: #eeeeee;
    padding: 20px 50px;
    width: 40rem;
}