.habitTitle{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

.mainHabitDashboard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.HabitBox{
    margin: 10px;
    padding: 20px 50px;
    max-width: 50rem !important;
    width: 30rem !important;
    min-width: 20rem !important;
}
.habitName{
    font-size: 22px;
}
.detailhabit{
    font-style: 20px;
}